
p {background-color: gray; padding: 20px;}

body
{
background-image:url(/com/duyj2/work/netty/http/i/back.jpg);
background-repeat:repeat;
background-attachment:fixed;
background-position: 50% 10%; 
color:rgb(200,200,200);
font-family:Arial,Verdana,Sans-serif;
font-size: 200%
}

li {
	list-style-type: none;
	margin: 10px;
}
