<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duyj.dbtest.mapper.CommonClobTableDOMapper">
  <resultMap id="BaseResultMap" type="com.duyj.dbtest.entity.CommonClobTableDO">
    <result column="CLOB_ID" jdbcType="OTHER" property="clobId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.duyj.dbtest.entity.CommonClobTableDO">
    <result column="CLOB_VALUE" jdbcType="CLOB" property="clobValue" />
  </resultMap>
  <sql id="Blob_Column_List">
    CLOB_VALUE
  </sql>
  <insert id="insert" parameterType="com.duyj.dbtest.entity.CommonClobTableDO">
    insert into COMMON_CLOB_TABLE (CLOB_ID, CLOB_VALUE)
    values (#{clobId,jdbcType=OTHER}, #{clobValue,jdbcType=CLOB})
  </insert>
  <insert id="insertSelective" parameterType="com.duyj.dbtest.entity.CommonClobTableDO">
    insert into COMMON_CLOB_TABLE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="clobId != null">
        CLOB_ID,
      </if>
      <if test="clobValue != null">
        CLOB_VALUE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="clobId != null">
        #{clobId,jdbcType=OTHER},
      </if>
      <if test="clobValue != null">
        #{clobValue,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
</mapper>