<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duyj.dbtest.mapper.SysGroupUserDOMapper">
    <resultMap id="BaseResultMap" type="com.duyj.dbtest.entity.SysGroupUserDO">
        <id column="GROUP_USER_ID" jdbcType="OTHER" property="groupUserId"/>
        <result column="GROUP_ID" jdbcType="OTHER" property="groupId"/>
        <result column="USER_ID" jdbcType="OTHER" property="userId"/>
        <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="STATUS" jdbcType="OTHER" property="status"/>
    </resultMap>
    <sql id="Base_Column_List">
    GROUP_USER_ID, GROUP_ID, USER_ID, CREATE_DATE, UPDATE_DATE, STATUS
  </sql>
    <select id="selectByPrimaryKey" parameterType="String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from T_SYS_GROUP_USER
        where GROUP_USER_ID = #{groupUserId,jdbcType=OTHER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="String">
    delete from T_SYS_GROUP_USER
    where GROUP_USER_ID = #{groupUserId,jdbcType=OTHER}
  </delete>
    <insert id="insert" parameterType="com.duyj.dbtest.entity.SysGroupUserDO">
    insert into T_SYS_GROUP_USER (GROUP_USER_ID, GROUP_ID, USER_ID, 
      CREATE_DATE, UPDATE_DATE, STATUS
      )
    values (#{groupUserId,jdbcType=OTHER}, #{groupId,jdbcType=OTHER}, #{userId,jdbcType=OTHER}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, #{status,jdbcType=OTHER}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.duyj.dbtest.entity.SysGroupUserDO">
        insert into T_SYS_GROUP_USER
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="groupUserId != null">
                GROUP_USER_ID,
            </if>
            <if test="groupId != null">
                GROUP_ID,
            </if>
            <if test="userId != null">
                USER_ID,
            </if>
            <if test="createDate != null">
                CREATE_DATE,
            </if>
            <if test="updateDate != null">
                UPDATE_DATE,
            </if>
            <if test="status != null">
                STATUS,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="groupUserId != null">
                #{groupUserId,jdbcType=OTHER},
            </if>
            <if test="groupId != null">
                #{groupId,jdbcType=OTHER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=OTHER},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=OTHER},
            </if>
        </trim>
    </insert>
    <insert id="insertBatch">
        insert into
        T_SYS_GROUP_USER
        (GROUP_USER_ID, GROUP_ID, USER_ID,
        CREATE_DATE, UPDATE_DATE, STATUS)
        <foreach collection="list" item="item" separator="union all">
            (select
            #{item.groupUserId,jdbcType=VARCHAR},
            #{item.groupId,jdbcType=VARCHAR},
            #{item.userId,jdbcType=VARCHAR},
            #{item.createDate,jdbcType=TIMESTAMP},
            #{item.updateDate,jdbcType=TIMESTAMP},
            #{item.status,jdbcType=VARCHAR}
            from dual
            )
        </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.duyj.dbtest.entity.SysGroupUserDO">
        update T_SYS_GROUP_USER
        <set>
            <if test="groupId != null">
                GROUP_ID = #{groupId,jdbcType=OTHER},
            </if>
            <if test="userId != null">
                USER_ID = #{userId,jdbcType=OTHER},
            </if>
            <if test="createDate != null">
                CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                STATUS = #{status,jdbcType=OTHER},
            </if>
        </set>
        where GROUP_USER_ID = #{groupUserId,jdbcType=OTHER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.duyj.dbtest.entity.SysGroupUserDO">
    update T_SYS_GROUP_USER
    set GROUP_ID = #{groupId,jdbcType=OTHER},
      USER_ID = #{userId,jdbcType=OTHER},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=OTHER}
    where GROUP_USER_ID = #{groupUserId,jdbcType=OTHER}
  </update>
</mapper>